const keys = [
  {
    'name': 'stockId',
    'type': 'number',
    'min': 1
  },
  {
    'name': 'name',
    'type': 'text'
  },
  {
    'name': 'uses',
    'type': 'text'
  },
  {
    'name': 'count',
    'type': 'number',
    'min': 0
  }
]
const url = 'https://xxx.com'
